body{
    background-color: burlywood;
    font-family: Poppins, sans-serif;
    
}
h2{
    color: darkblue;
    font-family: Arial, sans-serif;
}
h1{
    color: darkred;
    font-family: Arial, sans-serif;
    padding-left: 400px;
}

ul
{
    list-style-type: square;
    padding-left: 500px;
    color: darkgreen;
    font-family: Arial, sans-serif;     
}